
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/*
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%); */
body{
  font-family: 'Spartan';
  font-weight: 400;
  background-image: url("bg-pattern-top-desktop.svg"), url("bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: auto, contain;
}

.main{
    display: grid;
    grid-template-rows: 1fr 1fr 40px;
    grid-template-columns: 0.75fr 1fr;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 5%;
    max-width: 80%;
    max-height: 80%;
    grid-gap: 20px;
grid-template-areas:
  "a b"
  "c c"
  "d d"
}

h1{
  color: hsl(300, 43%, 22%);
  grid-area: a;
  font-weight: 800;
  font-size: 42px;
  text-align: left;
}

.head_text{
  color: hsl(303, 10%, 53%);
  grid-area: a;
  font-weight: 100;
  font-size: 15px;
  line-height: 150%;

}
.review_container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: inherit;
  font-size: 13px;
  margin: inherit;
}
.review {
  grid-area: b;
  font-weight: 600;
  margin-bottom: 5%;
  background-color: hsl(300, 24%, 96%);
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  padding-left: 2.5%;
  padding-right: 10%;
  display: inline-flex;
  color: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
}

.stars{
  align-self: baseline;
  padding-right: 15px;
  padding-left: 15px;
}

.review p{
  align-content: center;
  align-self: baseline;
}

#zero{
  align-self: start;

}

#one{
  align-self: center;
}

#two{
  align-self: end;
}

.reviewcard{
  display:flex;
  flex-direction: row;
    grid-area: c;
    margin-bottom: 2%;
}

.person{
  background-color: hsl(300, 43%, 22%);
  padding: 2%;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border-radius: 1rem;
  margin-right:5%;
  margin-top: 5%;
  width: 300px;
  max-width: 300px;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title img{
  border-radius: 3rem;
  margin-right: 5%;
  margin-left: 5%;
  height: 45%;
  align-self: baseline;
  margin-top: 3.5%;
}

.title p{
  color: hsl(333, 50%, 60%);
  line-height: 1%;
  margin-top: 5%;
}

.title h4{
  line-height: 13px;
  margin-bottom: 0%;
}

.person p{
  max-width: 300px;
  justify-content: center;
  margin-top: 0%;
  font-size: 12px;
  line-height: 150%;
}

#c{
  margin-bottom: 15%;
  margin-top: 5%;
}

#b{
  margin-top: 10%;
  margin-bottom: 10%;
}

#a{
  margin-top: 15%;
  margin-bottom: 5%;
}
#att{
  text-align: center;
  grid-area: d;
  font-size: 11px;
  margin-top: 0%;
}
